.event-item-holder {
    display: flex;
    width: 100%;
    background-color: #99a5c9;
    .event-info {
        flex: 1;
        font-weight: 600;
        padding: 0.25rem 0.5rem;
        .date {
            text-align: right;
        }
    }
    .markets-holder {
        display: flex;
        color: white;
        .market {
            display: flex;
            &:nth-child(even) {
                .pick {
                    background-color: #4d5b6a;
                }
            }
            &:nth-child(odd) {
                .pick {
                    background-color: #636e8f;
                }
            }
            .pick {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                min-height: 50px;
                font-weight: 600;
                .top-desc {
                    position: absolute;
                    top: 4px;
                    color: #afafaf;
                    font-size: 12px;
                }
                &.selectable {
                    cursor: pointer;
                    transition: all 0.2s ease;
                    &:hover {
                        opacity: 0.7;
                    }
                }
                &.selected {
                    background-color: #d65f3d;
                }
            }
        }
    }
}